#content {
    position: relative;
    padding: 40px;
    max-width: 1400px;
    margin: 0 auto;
}

#content .grid {
    position: relative;
    background: rgba(255, 255, 200, 0.5);
    max-width: 1400px;
    margin: 0 auto;
    
}

#content .item {
    position: relative;
    display: inline-block;
    background: rgba(200, 255, 255, 0.5);
    box-shadow: 0 0 0 3px #000;
    min-width: 250px;
    max-width: 350px;
    min-height: 162.5px;
    max-height: 187.5px;
    margin: 20px;
}

#content .item .div {
    position: relative;
    /* width: 80px;
    height: 60px;
    min-width: 250px;
    max-width: 350px;
    min-height: 162.5px;
    max-height: 187.5px; */
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #930;
}

#content .item img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    max-width: 500px;
}